/* Header */

h1 {
    text-align: center;
    color: #fff;
}

.cosm_header {
    background-image: url(/images/header/cosmology_header.jpg);
    background-size: cover;
    background-position-y: bottom;
    padding: 30px 0px;
}


/* Content */

h2 {
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
}


/* Cosmology */

.cosmology {
    background-color: rgba(43, 167, 218, 0.25);
    margin: 30px 0px;
    padding: 40px 0px;
}

.cosmology_img {
    background-image: url(/images/exhibition-spaces/1-cosmology.jpg);
    background-position-y: 80%;
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
    width: 290px;
    height: 100px;
}

.cosmology_text {
    width: 250px;
    padding: 10px 0px;
    margin: 0px auto;
}

.cosmology_content {
    background-color: #fff;
    border-radius: 30px;
    padding: 0px;
    width: 290px;
    margin: 0px auto;
}


/*Exhibition spaces*/

.spaces {
    background-color: rgba(245, 129, 18, 0.25);
    text-align: center;
    padding: 20px 0px;
    margin: 30px 0px;
}

.spaces h2 {
    margin: 0px;
    padding: 10px 0px 20px;
}

.cosmology-1 {
    display: none;
}

.spaces img {
    width: 110px;
    border-radius: 20px 20px 0px 0px;
}

.spaces h3 {
    text-align: center;
    font-size: 1.1em;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    width: 100px;
    height: 21px;
    margin: -4px 0px 0px;
    padding: 5px;
}

.spaces_content>div {
    padding: 5px 10px 20px 0px;
    margin: 5px 3px;
}

.spaces_content>div:hover {
    transform: scale(1.05);
}

.spaces_content {
    display: flex;
    overflow-x: scroll;
    width: 250px;
    margin: 0px auto;
}

@media all and (min-width:500px) {
    /* Cosmology */
    .cosmology {
        padding: 40px 0px;
    }
    .cosmology_img {
        width: 350px;
    }
    .cosmology_text {
        width: 300px;
    }
    .cosmology_content {
        width: 350px;
    }
    /* Exhibition spaces */
    .spaces_content {
        width: 390px;
    }
}

@media all and (min-width:600px) {
    /* Header */
    h1 {
        font-size: 2em;
    }
    /* Cosmology */
    .cosmology {
        padding: 50px 0px;
        margin: 40px 0px;
    }
    .cosmology_content {
        display: flex;
        padding: 0px;
        width: 580px;
        height: 300px;
    }
    .cosmology_img {
        background-position: center;
        background-size: cover;
        border-radius: 30px 0px 0px 30px;
        width: 200px;
        height: auto;
    }
    .cosmology_text {
        width: 350px;
    }
    /*Exhibition spaces*/
    .spaces {
        margin: 40px 0px;
    }
    .spaces img {
        width: 140px;
        border-radius: 30px 30px 0px 0px;
    }
    .spaces h3 {
        border-radius: 0px 0px 30px 30px;
        width: 140px;
        margin: -4px 0px 0px;
        padding: 8px 0px;
    }
    .spaces_content {
        width: 460px;
    }
}

@media all and (min-width:800px) {
    /* Header */
    .cosm_header {
        padding: 50px 0px;
    }
    /* Cosmology */
    .cosmology {
        padding: 70px 0px;
        margin: 50px 0px;
    }
    .cosmology_content {
        width: 660px;
        height: 260px;
    }
    .cosmology_img {
        width: 200px;
    }
    .cosmology_text {
        width: 430px;
    }
    /*Exhibition spaces*/
    .spaces {
        padding: 30px 0px;
        margin: 50px 0px;
    }
    .spaces_content {
        overflow-x: visible;
        justify-content: center;
        width: auto;
    }
    .spaces_content>div {
        padding-right: 10px;
    }
}

@media all and (min-width:1000px) {
    /* Exhibition spaces */
    .spaces_content>div {
        padding-right: 20px;
    }
}

@media all and (min-width:1500px) {
    /* Header */
    .cosm_header {
        width: 1500px;
        margin: 0px auto;
    }
    /* Cosmology */
    .cosmology {
        width: 1500px;
        margin: 50px auto;
    }
    /*Exhibition spaces*/
    .spaces {
        width: 1500px;
        margin: 50px auto;
    }
}