/* Header */

h1 {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 16px auto;
    color: #fff;
    background-color: rgba(110, 130, 79, 0.8);
    box-shadow: #6e824f 0px 0px 30px 10px;
    border-radius: 30px;
}

.eco_header {
    background-image: url(/images/header/ecology_header.jpg);
    background-size: cover;
    background-position-y: top;
    padding: 30px 0px;
}


/* Content */

h2 {
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
}


/* Ecology */

.ecology {
    background-color: rgb(63, 166, 82, 0.25);
    margin: 30px 0px;
    padding: 40px 0px;
}

.ecology_img {
    background-image: url(/images/exhibition-spaces/5-ecology-2.jpg);
    background-position-y: 45%;
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
    width: 290px;
    height: 100px;
}

.ecology_text {
    width: 240px;
    padding: 10px 0px;
    margin: 0px auto;
}

.ecology_content {
    background-color: #fff;
    border-radius: 30px;
    padding: 0px;
    width: 290px;
    margin: 0px auto;
}


/*Exhibition spaces*/

.spaces {
    background-color: rgba(245, 129, 18, 0.25);
    text-align: center;
    padding: 40px 0px;
    margin: 50px 0px;
}

.spaces h2 {
    margin: 0px 0px 30px;
}

.ecology-1 {
    display: none;
}

.spaces_content {
    display: flex;
    overflow-y: scroll;
    width: 270px;
    margin: 0px auto;
}

.spaces img {
    width: 110px;
    border-radius: 20px 20px 0px 0px;
}

.spaces h3 {
    text-align: center;
    font-size: 1.1em;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    width: 110px;
    margin-top: -4px;
    padding: 8px 0px;
}

.spaces_content>div {
    margin: 5px 8px;
}

.spaces_content>div:hover {
    transform: scale(1.05);
}

@media all and (min-width:400px) {
    /*Exhibition spaces*/
    .spaces_content {
        width: 340px;
    }
    .spaces_content>div {
        margin: 10px;
    }
}

@media all and (min-width:500px) {
    /* Ecology */
    .ecology {
        padding: 40px 0px;
    }
    .ecology_text {
        width: 300px;
    }
    .ecology_img {
        width: 350px;
    }
    .ecology_content {
        width: 350px;
    }
}

@media all and (min-width:600px) {
    /* Header */
    h1 {
        font-size: 2em;
        width: 130px;
    }
    /* Ecology */
    .ecology {
        padding: 50px 0px;
        margin: 40px 0px;
    }
    .ecology_content {
        display: flex;
        padding: 0px;
        width: 580px;
    }
    .ecology_img {
        background-image: url(/images/exhibition-spaces/5-ecology-2-2.jpg);
        background-position: center;
        border-radius: 30px 0px 0px 30px;
        width: 200px;
        height: auto;
    }
    .ecology_text {
        width: 350px;
    }
    /*Exhibition spaces*/
    .spaces {
        padding: 40px 0px;
        margin: 80px 0px;
    }
    .spaces_content {
        width: 450px;
    }
}

@media all and (min-width:800px) {
    /* Header */
    .eco_header {
        padding: 50px 0px;
        background-position-y: center;
    }
    /* Ecology */
    .ecology {
        padding: 70px 0px;
        margin: 50px 0px;
    }
    .ecology_content {
        width: 660px;
    }
    .ecology_text {
        width: 410px;
    }
    /*Exhibition spaces*/
    .spaces {
        margin: 80px 0px;
    }
    .spaces_content>div {
        margin: 10px 15px;
    }
    .spaces_content {
        overflow-y: visible;
        width: 560px;
    }
}

@media all and (min-width:1500px) {
    /* Header */
    .eco_header {
        width: 1500px;
        margin: 0px auto;
    }
    /* Ecology */
    .ecology {
        width: 1500px;
        margin: 50px auto;
    }
    /*Exhibition spaces*/
    .spaces {
        width: 1500px;
        margin: 100px auto;
    }
}