/* Header */

h1 {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 16px auto;
    color: #fff;
    background-color: rgba(110, 130, 79, 0.8);
    box-shadow: #6e824f 0px 0px 20px 10px;
}

.eco_header {
    background-image: url(/images/header/ecology_header.jpg);
    background-size: cover;
    background-position-y: top;
    padding: 30px 0px;
}


/* Ecology */

.ecology {
    background-color: rgb(63, 166, 82, 0.15);
    margin: 30px 0px;
    padding: 40px 0px;
}

.ecology_content {
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    width: 290px;
    margin: 0px auto;
}

.ecology img {
    display: none;
}


/*Exhibition spaces*/

.spaces {
    background-color: rgba(245, 129, 18, 0.15);
    text-align: center;
    padding: 20px 0px;
    margin: 30px 0px;
}

.spaces h2 {
    margin: 0px;
    padding: 10px 0px 20px;
}

.ecology-1 {
    display: none;
}

.spaces img {
    width: 110px;
    border-radius: 20px 20px 0px 0px;
}

.spaces h3 {
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    width: 100px;
    height: 21px;
    margin: -4px 0px 0px;
    padding: 5px;
}

.spaces_content>div {
    padding: 5px 10px 20px 0px;
    margin: 5px 3px;
}

.spaces_content>div:hover {
    transform: scale(1.05);
}

.spaces_content {
    display: flex;
    overflow-x: scroll;
    width: 250px;
    margin: 0px auto;
}

@media all and (min-width:500px) {
    /* Ecology */
    .ecology {
        padding: 40px 0px;
    }
    .ecology_content {
        padding: 10px 20px;
        width: 350px;
    }
    /* Exhibition spaces */
    .spaces_content {
        width: 390px;
    }
}

@media all and (min-width:600px) {
    /* Header */
    h1 {
        font-size: 1.5em;
        width: 110px;
    }
    /* Ecology */
    .ecology {
        margin: 40px 0px;
    }
    .ecology_content {
        display: flex;
        padding: 0px;
        width: 600px;
    }
    .ecology_content img {
        display: inherit;
        border-radius: 30px 0px 0px 30px;
        width: 180px;
    }
    .ecology_text {
        padding: 0px 20px;
    }
    /*Exhibition spaces*/
    .spaces {
        margin: 40px 0px;
    }
    .spaces h2 {
        font-size: 1.5em;
    }
    .spaces img {
        width: 140px;
        border-radius: 30px 30px 0px 0px;
    }
    .spaces h3 {
        border-radius: 0px 0px 30px 30px;
        width: 140px;
        margin: -4px 0px 0px;
        padding: 8px 0px;
    }
    .spaces_content {
        width: 460px;
    }
}

@media all and (min-width:800px) {
    /* Header */
    .eco_header {
        padding: 50px 0px;
        background-position-y: center;
    }
    /* Ecology */
    .ecology {
        margin: 50px 0px;
    }
    .ecology_content {
        width: 660px;
    }
    .ecology_content img {
        width: 190px;
    }
    /*Exhibition spaces*/
    .spaces {
        margin: 50px 0px;
    }
    .spaces_content {
        overflow-x: visible;
        justify-content: center;
        width: auto;
    }
    .spaces_content>div {
        padding-right: 10px;
    }
}

@media all and (min-width:1000px) {
    /* Exhibition spaces */
    .spaces_content>div {
        margin: 0px 10px;
    }
}

@media all and (min-width:1500px) {
    /* Ecology */
    .ecology {
        width: 1500px;
        margin: 50px auto;
    }
    /*Exhibition spaces*/
    .spaces {
        width: 1500px;
        margin: 50px auto;
    }
}