    /* Header */
    
    h1 {
        display: flex;
        justify-content: center;
        font-size: 2em;
        color: #fff;
        background-color: rgba(49, 41, 38, 0.8);
        box-shadow: #312926 0px 0px 20px 10px;
        border-radius: 30px;
        width: 180px;
        margin: 0px auto;
    }
    
    .evo_header {
        background-image: url(/images/header/evolution_header.jpg);
        background-size: cover;
        background-position-y: top;
        padding: 50px 0px;
    }
    /* Content */
    
    h2 {
        font-family: "menco", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.4em;
    }
    /* Evolution */
    
    .evolution {
        background-color: rgba(63, 166, 82, 0.25);
        margin: 50px 0px;
        padding: 50px 0px;
    }
    
    .evolution_img {
        background-image: url(/images/exhibition-spaces/2-evolution-2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 30px 30px 0px 0px;
        width: auto;
        height: 150px;
    }
    
    .evolution_text {
        width: 250px;
        padding: 10px 0px 20px;
        margin: 0px auto;
    }
    
    .evolution_content {
        background-color: #fff;
        border-radius: 30px;
        width: 290px;
        padding: 0px;
        margin: 0px auto;
    }
    /*Exhibition spaces*/
    
    .spaces {
        background-color: rgba(245, 129, 18, 0.25);
        text-align: center;
        padding: 40px 0px;
        margin: 50px 0px;
    }
    
    .spaces h2 {
        margin: 0px 0px 30px;
    }
    
    .evolution-1 {
        display: none;
    }
    
    .spaces_content {
        display: flex;
        overflow-y: scroll;
        width: 270px;
        margin: 0px auto;
    }
    
    .spaces img {
        width: 110px;
        border-radius: 20px 20px 0px 0px;
    }
    
    .spaces h3 {
        text-align: center;
        font-size: 1.1em;
        background-color: #fff;
        border-radius: 0px 0px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
        width: 110px;
        margin-top: -5px;
        padding: 8px 0px;
    }
    
    .spaces_content>div {
        margin: 5px 8px;
    }
    
    .spaces_content>div:hover {
        transform: scale(1.05);
    }
    
    @media all and (min-width:400px) {
        /*Exhibition spaces*/
        .spaces_content {
            width: 340px;
        }
        .spaces_content>div {
            margin: 10px;
        }
    }
    
    @media all and (min-width:500px) {
        /* Evolution */
        .evolution {
            padding: 40px 0px;
        }
        .evolution_text {
            width: 300px;
        }
        .evolution_content {
            width: 350px;
        }
    }
    
    @media all and (min-width:600px) {
        /* Header */
        h1 {
            font-size: 2.5em;
        }
        /* Evolution */
        .evolution {
            padding: 80px 0px;
            margin: 80px 0px;
        }
        .evolution_content {
            width: 550px;
        }
        .evolution_img {
            height: 200px;
        }
        .evolution_text {
            width: 480px;
        }
        /*Exhibition spaces*/
        .spaces {
            padding: 40px 0px;
            margin: 80px 0px;
        }
        .spaces_content {
            width: 450px;
        }
    }
    
    @media all and (min-width:800px) {
        /* Header */
        h1 {
            font-size: 3em;
        }
        .evo_header {
            padding: 100px 0px;
        }
        /* Evolution */
        .evolution_content {
            width: 660px;
        }
        .evolution_text {
            width: 550px;
        }
        /*Exhibition spaces*/
        .spaces {
            margin: 80px 0px;
        }
        .spaces_content>div {
            margin: 10px 15px;
        }
        .spaces_content {
            overflow-y: visible;
            width: 560px;
        }
    }
    
    @media all and (min-width:1500px) {
        /* Header */
        .evo_header {
            width: 1500px;
            margin: 0px auto;
        }
        /* Evolution */
        .evolution {
            width: 1500px;
            margin: 100px auto;
        }
        /*Exhibition spaces*/
        .spaces {
            width: 1500px;
            margin: 100px auto;
        }
    }