/*Header*/

h1 {
    display: flex;
    justify-content: center;
    background-color: rgba(43, 167, 218, 0.15);
    padding: 40px 0px;
    margin: 0px 0px 30px;
}


/* Explore together */

.about {
    background-color: rgba(63, 166, 82, 0.15);
    padding: 5px 0px;
    margin: 30px 0px;
}

.about_wrap {
    background-color: #fff;
    border-radius: 30px;
    width: 260px;
    font-size: 0.9em;
    padding: 20px;
    margin: 30px auto;
}

.about img {
    display: none;
}

.about_text h2 {
    margin-top: 0px;
}

.about_text p {
    margin: 0px;
    padding: 0px 0px 15px;
}

.about_text {
    width: 250px;
    height: 260px;
    overflow-y: scroll;
    margin: 0px auto;
}


/* Visit */

.visit {
    background-color: rgba(245, 129, 18, 0.15);
    padding: 5px 0px;
    margin: 30px 0px;
}

.visit h2 {
    text-align: center;
    padding: 10px 0px;
}

.visit h3 {
    font-family: unit-rounded, sans-serif;
    margin: 0px 0px 10px;
}

.visit_col-1 {
    width: 249px;
    margin: 0px auto;
}

.visit_col-1 p {
    font-size: 0.9em;
    margin: 3px 0px;
}

.adm p {
    margin: 15px 0px;
}

.visit_col-1>div {
    padding-bottom: 15px;
}

.visit_col-2 {
    width: 248px;
    margin: 0px auto;
}

.visit_col-2 p {
    font-size: 0.9em;
    margin: 0px;
}

.visit_col-2>div {
    padding-bottom: 15px;
}

.visit_wrap {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px 20px;
    margin: 30px auto;
}


/* Media Queries */

@media all and (min-width:400px) {
    .visit_wrap {
        width: 350px;
    }
}

@media all and (min-width:600px) {
    /*Header*/
    h1 {
        font-size: 1.5em;
    }
    /*Explore together*/
    .about {
        padding: 30px 0px;
        margin: 50px 0px;
    }
    .about_wrap {
        width: 450px;
        height: 380px;
        padding: 10px 30px;
    }
    .about_text h2 {
        margin-top: 10px;
    }
    .about_text {
        width: 440px;
        height: 350px;
        overflow-y: visible;
        padding: 10px;
    }
    /* Visit */
    .visit {
        padding: 30px 0px;
        margin: 50px 0px;
    }
    .visit h2 {
        font-size: 1.2em;
        margin: 10px 0px;
    }
    .visit_col-1 {
        width: 185px;
        padding-left: 10px;
    }
    .adm {
        margin-top: 25px;
    }
    .visit_col-2 {
        padding-right: 10px;
        width: 210px;
    }
    .visit_col-2>div {
        padding-bottom: 25px;
    }
    .visit_wrap {
        width: 500px;
    }
    .visit_container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

@media all and (min-width:800px) {
    /*Header*/
    h1 {
        padding: 70px 0px;
        margin-bottom: 50px;
    }
    /*Explore together*/
    .about img {
        display: inherit;
        width: 255px;
        height: 380px;
        border-radius: 0px 30px 30px 0px;
    }
    .about_wrap {
        display: flex;
        width: 750px;
        height: 380px;
        padding: 0px;
    }
    .about_text {
        width: auto;
        height: auto;
        flex-direction: row;
        padding: 15px 25px;
        margin: 0px;
    }
    /* Visit */
    .visit_col-1 {
        width: 249px;
        margin-right: 50px;
    }
    .adm {
        margin-top: 15px;
    }
    .visit_col-2 {
        width: 350px;
    }
    .visit_col-2>div {
        padding-bottom: 40px;
    }
    .visit_wrap {
        width: 660px;
    }
}

@media all and (min-width:1500px) {
    /*Explore together*/
    .about {
        width: 1500px;
        margin: 50px auto;
    }
    /*Visit*/
    .visit {
        width: 1500px;
        margin: 50px auto;
    }
}