/*Header*/

.about_header h1 {
    display: flex;
    justify-content: center;
    background-color: rgba(43, 167, 218, 0.15);
    padding: 40px 0px;
    margin: 0px 0px 30px;
}


/* Explore together */

.about {
    background-color: rgba(63, 166, 82, 0.15);
    padding: 5px 0px;
    margin: 30px 0px;
}

.about img {
    display: none;
}

.about_wrap p {
    margin: 0px;
    padding-bottom: 15px;
}

.about_wrap {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    font-size: 0.9em;
    padding: 10px 20px;
    margin: 30px auto;
}


/* Visit */

.visit {
    background-color: rgba(245, 129, 18, 0.15);
    padding: 5px 0px;
    margin: 30px 0px;
}

.visit h2 {
    text-align: center;
    padding: 20px 0px;
}

.visit h3 {
    margin-bottom: 10px;
}

.visit_col-1 {
    width: 249px;
    margin: 0px auto;
}

.visit_col-1 p {
    font-size: 0.9em;
    margin: 3px 0px;
}

.adm p {
    margin: 15px 0px;
}

.visit_col-1>div {
    padding-bottom: 15px;
}

.visit_col-2 {
    width: 248px;
    margin: 0px auto;
}

.visit_col-2 p {
    font-size: 0.9em;
    margin: 0px;
}

.visit_col-2>div {
    padding-bottom: 15px;
}

.visit_wrap {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px 20px;
    margin: 30px auto;
}


/* Media Queries */

@media all and (min-width:400px) {
    .visit_wrap {
        width: 350px;
    }
}

@media all and (min-width:600px) {
    /*Header*/
    .about_header h1 {
        font-size: 1.5em;
    }
    /*Explore together*/
    .about {
        padding: 50px 0px;
        margin: 50px 0px;
    }
    .about_wrap {
        width: 450px;
        height: 350px;
        padding: 10px 30px;
    }
    /* Visit */
    .visit {
        padding: 50px 0px;
        margin: 50px 0px;
    }
    .visit h2 {
        font-size: 1.2em;
    }
    .visit_col-1 {
        width: 185px;
        padding-left: 10px;
    }
    .visit_col-2 {
        padding-right: 10px;
        width: 240px;
    }
    .visit_wrap {
        width: 500px;
    }
    .visit_container {
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width:800px) {
    /*Header*/
    .about_header h1 {
        padding: 50px 0px;
        margin-bottom: 50px;
    }
    /*Explore together*/
    .about img {
        display: inherit;
        width: 240px;
        height: 350px;
        border-radius: 0px 30px 30px 0px;
    }
    .about_text {
        padding: 10px 20px;
    }
    .about_wrap p {
        font-size: 0.95em;
    }
    .about_wrap {
        flex-direction: row;
        overflow: visible;
        border-radius: 30px;
        width: 700px;
        height: 350px;
        padding: 0px;
    }
    /* Visit */
    .visit_col-1 {
        width: 249px;
    }
    .visit_col-2 {
        width: 350px;
    }
    .visit_col-2 p {
        margin-bottom: 13px;
    }
    .visit_wrap {
        border-radius: 30px;
        width: 660px;
    }
}

@media all and (min-width:1300px) {
    /*Explore together*/
    .about {
        max-width: 1300px;
        margin: 50px auto;
    }
    /*Visit*/
    .visit {
        max-width: 1300px;
        margin: 50px auto;
    }
}