/*Header*/

h1 {
    display: flex;
    justify-content: center;
    background-color: rgba(245, 129, 18, 0.15);
    padding: 40px 0px;
    margin: 0px 0px 30px;
}


/* Contact info and form*/

.contact_container {
    background-color: rgba(43, 167, 218, 0.15);
    padding: 10px 0px;
    margin: 30px 0px;
}

.contact_container h2 {
    margin: 0px;
}


/*Contact info*/

.contact_hours,
.contact_apply {
    display: none;
}

.contact_info {
    text-align: center;
    width: 270px;
    margin: 30px auto;
}


/*Contact form*/

.form_wrap {
    width: 208px;
    margin: 0px auto;
}

label {
    display: none;
}

input,
textarea {
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: 1em;
    color: #212a31;
    border-radius: 10px;
    border: 1px solid #212a31;
    padding: 10px 20px 10px 5px;
    margin: 8px 0px;
}

textarea {
    height: 100px;
    width: 180px;
    margin-bottom: 0px;
}

form p {
    opacity: 50%;
    font-size: 0.9em;
    margin: 0px;
}

button {
    font-family: industry, sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #616d93;
    background-color: #616d93;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 5px 5px;
    margin: 20px 0px;
}

button:hover {
    border: 1px solid #212a31;
    background-color: #212a31;
    color: #fff;
}

.submit_btn {
    display: flex;
    justify-content: flex-end;
}

@media all and (min-width:600px) {
    /*Header*/
    h1 {
        font-size: 1.5em;
    }
    /* Contact info and form*/
    .contact_container {
        margin: 40px 0px;
    }
    .contact_wrap {
        display: flex;
        justify-content: center;
        width: 590px;
        margin: 40px auto;
    }
    /*Contact info*/
    .contact_hours,
    .contact_apply {
        display: inherit;
        padding: 10px 0px;
    }
    .contact_apply span {
        font-weight: bolder;
    }
    .contact_info {
        text-align: left;
        margin: 0px;
    }
    .contact_hours h2 {
        font-size: 1em;
        margin: 10px 0px;
    }
    .contact_info p {
        font-size: 0.9em;
        margin: 8px 0px;
    }
    /*Contact form*/
    input,
    textarea {
        margin: 9px 0px;
    }
    .form_wrap {
        margin: 0px 20px 0px 40px;
    }
}

@media all and (min-width:800px) {
    /*Header*/
    h1 {
        font-size: 1.5em;
        padding: 70px 0px;
    }
    /*Contact info and form*/
    .contact_container {
        margin: 50px 0px;
    }
    .contact_wrap {
        width: 650px;
        margin: 40px auto;
    }
    /*Contact form*/
    input,
    textarea {
        padding: 10px 40px 10px 5px;
    }
    .form_wrap {
        margin: 0px auto;
    }
}

@media all and (min-width:1500px) {
    /*Contact info and form*/
    .contact_container {
        width: 1500px;
        margin: 50px auto;
    }
}