/*Header*/

h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    background-color: rgba(43, 167, 218, 0.25);
    padding: 50px 0px;
    margin: 0px;
}


/* Contact info and form*/

h2 {
    margin: 0px;
}

h3 {
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
}

.contact_container {
    background-color: rgba(63, 166, 82, 0.25);
    padding: 20px 0px;
    margin: 50px 0px;
}


/*Contact info*/

.contact_hours,
.contact_apply {
    display: none;
}

.contact_info {
    text-align: center;
    width: 270px;
    margin: 30px auto;
}


/*Contact form*/

.form_wrap {
    width: 228px;
    margin: 0px auto;
}

label {
    display: none;
}

input,
textarea {
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: 1em;
    color: #212a31;
    border-radius: 20px;
    border: 1px solid #212a31;
    width: 221px;
    padding: 10px 0px 10px 5px;
    margin: 8px 0px;
}

textarea {
    height: 150px;
    margin-bottom: 0px;
}

form p {
    opacity: 50%;
    font-size: 0.9em;
    margin: 0px;
}

button {
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    border: 1px solid #212a31;
    border-radius: 20px;
    background-color: #212a31;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 5px 5px;
    padding: 10px 20px;
    margin: 20px 0px;
    cursor: pointer;
}

button:hover {
    background-color: #006e9f;
    border: 1px solid #006e9f;
}

.submit_btn {
    display: flex;
    justify-content: flex-end;
}

@media all and (min-width:600px) {
    /*Header*/
    h1 {
        font-size: 2.5em;
        padding: 80px 0px;
    }
    /* Contact info and form*/
    .contact_container {
        margin: 80px 0px;
    }
    .contact_wrap {
        display: flex;
        justify-content: space-around;
        width: 590px;
        margin: 50px auto;
    }
    /*Contact info*/
    .contact_hours,
    .contact_apply {
        display: inherit;
        padding: 10px 0px;
    }
    .contact_info p {
        font-size: 1.1em;
        margin: 5px 0px;
    }
    .contact_apply span {
        font-weight: bolder;
    }
    .contact_info {
        text-align: left;
        margin: 0px;
    }
    .contact_hours h2 {
        font-family: "menco", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.3em;
        margin: 10px 0px;
    }
    /*Contact form*/
    input,
    textarea {
        margin: 9px 0px;
    }
    .form_wrap {
        margin: 0px;
    }
    /* Button */
    button {
        font-size: 1.5em;
        padding: 10px 25px;
    }
}

@media all and (min-width:800px) {
    /*Header*/
    h1 {
        font-size: 3em;
        padding: 100px 0px;
    }
    /*Contact info and form*/
    .contact_container {
        padding: 30px 0px;
    }
    .contact_wrap {
        width: 770px;
        margin: 50px auto;
    }
    .contact_info h2 {
        width: 340px;
    }
    .contact_info p {
        margin: 8px 0px;
    }
    /*Contact form*/
    .form_wrap {
        width: 240px;
    }
    input,
    textarea {
        width: 233px;
    }
}

@media all and (min-width:1500px) {
    h1 {
        width: 1500px;
        margin: 0px auto;
    }
    /*Contact info and form*/
    .contact_container {
        width: 1500px;
        margin: 100px auto;
    }
}