    /*Header*/
    
    h1 {
        display: flex;
        justify-content: center;
        background-color: rgba(43, 167, 218, 0.15);
        padding: 40px 0px;
        margin: 0px 0px 30px;
    }
    /* Exhibition Spaces */
    
    .spaces {
        background-color: rgba(63, 166, 82, 0.15);
        padding: 10px 0px 30px;
        margin: 30px 0px;
    }
    
    .spaces h2 {
        text-align: center;
        padding-bottom: 20px;
    }
    
    .spaces a {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
        width: 210px;
        margin: 0px auto 50px;
    }
    
    .spaces a:hover {
        transform: scale(1.05);
    }
    
    .spaces img {
        width: 210px;
        border-radius: 20px 20px 0px 0px;
    }
    
    .spaces h3 {
        text-align: center;
        margin: 0px;
        padding: 10px 0px;
    }
    
    .spaces p {
        text-align: left;
        font-size: 0.9em;
        margin: 0px;
        padding: 0px 10px 10px;
    }
    /*News*/
    
    .news {
        background-color: rgba(245, 129, 18, 0.15);
        padding: 10px 0px 30px;
        margin: 30px 0px;
    }
    
    .news h2 {
        text-align: center;
        padding-bottom: 20px;
    }
    
    .news-item a {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
        width: 250px;
        margin: 0px auto 50px;
    }
    
    .news-item a:hover {
        transform: scale(1.05);
    }
    
    .news img {
        width: 250px;
        border-radius: 20px 20px 0px 0px;
    }
    
    .news h3 {
        text-align: center;
        margin: 0px;
        padding: 10px;
    }
    
    .news p {
        text-align: left;
        font-size: 0.9em;
        height: 120px;
        margin: 0px 0px 10px;
        padding: 0px 20px 10px;
    }
    
    #news3 p {
        overflow-y: scroll;
    }
    /* Media Queries */
    
    @media all and (min-width:600px) {
        h1 {
            font-size: 1.5em;
        }
        /* Exhibition Spaces */
        .spaces {
            padding: 20px 0px 30px;
            margin: 40px 0px;
        }
        .spaces h2 {
            font-size: 1.3em;
        }
        .spaces_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 500px;
            margin: 0px auto;
        }
        .spaces a {
            height: 270px;
        }
        .spaces_individual {
            padding: 0px 20px;
        }
        /*News*/
        .news {
            padding: 20px 0px 30px;
            margin: 40px 0px;
        }
        .news h2 {
            font-size: 1.3em;
        }
        .news-item a {
            flex-direction: row;
            width: 540px;
        }
        .news img {
            border-radius: 20px 0px 0px 20px;
        }
        .news h3 {
            text-align: left;
            margin: 0px 10px;
            padding: 10px;
        }
        .news p {
            margin: 0px 0px 15px;
        }
    }
    
    @media all and (min-width:800px) {
        h1 {
            padding: 50px 0px;
            margin-bottom: 50px;
        }
        /* Exhibition Spaces */
        .spaces {
            margin: 50px 0px;
        }
        .spaces_wrap {
            width: 750px;
        }
        /*News*/
        .news {
            margin: 50px 0px;
        }
        .news h2 {
            margin-bottom: 30px;
        }
        .news-item a {
            width: 600px;
        }
        .news h3 {
            margin: 5px 10px;
        }
        .news p {
            margin: 10px 0px;
        }
        #news3 a {
            height: 220px;
        }
        #news3 p {
            overflow-y: visible;
        }
    }
    
    @media all and (min-width:1300px) {
        /* Exhibition Spaces */
        .spaces {
            width: 1300px;
        }
        .news {
            width: 1300px;
        }
    }