/* Header */

h1 {
    display: flex;
    justify-content: center;
    background-color: rgba(43, 167, 218, 0.25);
    padding: 50px 0px;
    margin: 0px;
}


/* Content */

h2 {
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4em;
}

.kids_container,
.ys_container {
    background-color: #fff;
    border-radius: 30px;
    width: 310px;
    margin: 50px auto;
}


/* Info */

.kids_info {
    background-color: rgba(63, 166, 82, 0.25);
    padding: 10px 0px;
    margin: 50px 0px;
}

.kids_img {
    background-image: url(/images/kids-page-1.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: auto;
    border-radius: 30px 30px 0px 0px;
}

.info_text {
    width: 285px;
    padding: 10px 0px 20px;
    margin: 0px auto;
}

.info_text span {
    display: block;
}


/* Young Star Club*/

.ys_info {
    background-color: rgba(245, 129, 18, 0.25);
    padding: 10px 0px;
    margin: 50px 0px;
}

.ys_img {
    background-image: url(/images/youngstars.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: auto;
    border-radius: 30px 30px 0px 0px;
}

.ys_text {
    width: 260px;
    padding: 10px 0px 20px;
    margin: 0px auto;
}


/* Exhibition spaces */

.spaces {
    background-color: rgba(43, 167, 218, 0.25);
    text-align: center;
    padding: 40px 0px;
    margin: 50px 0px;
}

.spaces h2 {
    margin: 0px 0px 30px;
}

.spaces_content {
    display: flex;
    overflow-y: scroll;
    width: 270px;
    margin: 0px auto;
}

.spaces img {
    width: 110px;
    border-radius: 20px 20px 0px 0px;
}

.spaces h3 {
    text-align: center;
    font-size: 1.1em;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    width: 110px;
    margin-top: -4px;
    padding: 8px 0px;
}

.spaces_content>div {
    margin: 5px 8px;
}

.spaces_content>div:hover {
    transform: scale(1.05);
}

@media all and (min-width:400px) {
    /* Content */
    .kids_container,
    .ys_container {
        width: 360px;
    }
    /* Info */
    .info_text {
        width: 315px;
    }
    .info_text span {
        display: inline;
    }
    /* Young Star Club*/
    .ys_text {
        width: 330px;
    }
    /*Exhibition spaces*/
    .spaces_content {
        width: 340px;
    }
    .spaces_content>div {
        margin: 10px;
    }
}

@media all and (min-width:600px) {
    /* Header */
    h1 {
        font-size: 2em;
        padding: 80px 0px;
    }
    /* Content */
    .kids_info,
    .ys_info {
        margin: 80px 0px;
    }
    .kids_container,
    .ys_container {
        width: 500px;
        margin: 50px auto;
    }
    .kids_img,
    .ys_img {
        height: 200px;
    }
    .info_text,
    .ys_text {
        width: 410px;
    }
    /*Exhibition spaces*/
    .spaces {
        padding: 40px 0px;
        margin: 80px 0px;
    }
    .spaces_content {
        width: 450px;
    }
}

@media all and (min-width:800px) {
    /* Header */
    h1 {
        font-size: 3em;
        padding: 100px 0px;
    }
    /* Content */
    h2 {
        font-size: 1.5em;
    }
    .kids_container,
    .ys_container {
        width: 700px;
    }
    .info_text,
    .ys_text {
        width: 600px;
        padding-bottom: 30px;
    }
    /* Info */
    .info_text span {
        display: block;
    }
    /*Exhibition spaces*/
    .spaces {
        margin: 80px 0px;
    }
    .spaces_content>div {
        margin: 10px 15px;
    }
    .spaces_content {
        overflow-y: visible;
        width: 700px;
    }
}

@media all and (min-width:1500px) {
    /* Header */
    h1 {
        width: 1500px;
        margin: 0px auto;
    }
    /* Info */
    .kids_info {
        width: 1500px;
        margin: 100px auto;
    }
    /* Young Star Club*/
    .ys_info {
        width: 1500px;
        margin: 100px auto;
    }
    /* Exhibition spaces */
    .spaces {
        width: 1500px;
        margin: 100px auto;
    }
}