    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        margin: 0px;
    }
    /* FONTS*/
    
    h1 {
        font-family: unit-rounded, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2em;
    }
    
    h2 {
        font-family: unit-rounded, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2em;
    }
    
    h3 {
        font-family: industry, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1em;
    }
    
    p,
    footer {
        font-family: "franklin-gothic-urw", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    /*footer*/
    
    footer {
        color: #212a31;
        background-color: rgba(33, 42, 49, 0.15);
        display: flex;
        justify-content: center;
        padding: 30px 0px;
        font-size: 0.8em;
    }
    
    footer h3 {
        margin-bottom: 5px;
    }
    
    .footer-info>div {
        margin-bottom: 23px;
    }
    
    .footer-info p {
        width: 100px;
        margin: 0px;
    }
    
    .footer-hours p {
        line-height: 9px;
        width: 150px;
    }
    
    footer>section {
        padding: 0px 15px;
    }
    /*NAVIGATION BAR*/
    
    header {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10000;
        min-width: 280px;
    }
    
    header img {
        margin: 5px 5px 5px 15px;
        width: 60%;
    }
    /*nav links*/
    
    nav {
        display: none;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 26px;
        background-color: #fff;
        padding: 0px 0px 0px 30px;
        margin-top: 50px;
    }
    
    a {
        text-decoration: none;
        color: #212a31;
    }
    
    nav li {
        display: block;
        font-family: unit-rounded, sans-serif;
        font-size: 1.1em;
        padding-bottom: 20px;
        min-width: 200px;
    }
    
    nav li:hover {
        text-decoration: underline;
    }
    
    nav ul {
        padding: 0px;
    }
    
    .exb-spaces {
        display: none;
    }
    
    .active {
        text-decoration: underline;
    }
    /*hamburger menu*/
    
    header label {
        display: flex;
        align-items: center;
        font-family: pinot-grigio-modern, sans-serif;
        font-size: 1em;
        cursor: pointer;
    }
    
    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked~nav {
        display: block;
    }
    
    .fa-bars {
        font-size: 1.5em;
        margin: 0px 15px 0px 10px;
        cursor: pointer;
    }
    
    @media all and (min-width: 330px) {
        header img {
            margin: 5px 5px 5px 15px;
            width: 70%;
        }
        /*links*/
        nav {
            left: auto;
            top: 84px;
            padding: 10px 20px;
            margin-top: 0px;
        }
        nav li {
            padding-bottom: 18px;
        }
        /*hamburger menu*/
        .fa-bars {
            margin: 0px 40px 0px 15px;
        }
    }
    
    @media all and (min-width:600px) {
        /*links*/
        nav {
            top: 100px;
            padding: 10px 50px 50px;
        }
        nav li {
            font-size: 1.3em;
            padding: 20px 0px 0px 0px;
        }
        .exb-spaces {
            display: block;
            font-family: franklin-gothic-urw, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.1em;
            padding-top: 2px;
        }
        /*hamburger menu*/
        header label {
            font-size: 1.5em;
        }
        .fa-bars {
            font-size: 1.2em;
        }
    }