/*Header*/

.header_content {
    background-image: url(/images/header/home-header-1b.jpg);
    background-size: cover;
    background-position: center;
    height: 488px;
}

.header_text {
    background-color: #fff;
    border-radius: 30px;
    width: 300px;
    padding: 10px 0px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 290px;
}

.header_text h1 {
    margin: 0px;
}

.header_text h2 {
    background-color: #212a31;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
    width: 140px;
    padding: 12px 10px;
    margin: 0px auto;
}

.header_text h2:hover {
    background-color: #006e9f;
}


/*Exhibition spaces*/

.spaces {
    background-color: rgba(0, 110, 159, 0.25);
    padding: 10px 0px 30px;
    margin: 50px 0px;
}

.spaces h2 {
    text-align: center;
    padding-bottom: 20px;
}

.spaces a {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    width: 200px;
    margin: 50px auto;
}

.spaces a:hover {
    transform: scale(1.05);
}

.spaces img {
    width: 200px;
    border-radius: 30px 30px 0px 0px;
}

.spaces h3 {
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
}


/* News */

.news {
    background-color: rgba(63, 166, 82, 0.25);
    padding: 10px 0px;
    margin: 50px 0px;
}

.news h2 {
    text-align: center;
}

.news-item {
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    width: 260px;
    padding-bottom: 10px;
    margin: 30px auto;
}

.news-item img {
    width: 260px;
    border-radius: 30px 30px 0px 0px;
}

.news h3 {
    text-align: center;
    padding: 10px 0px;
    margin: 0px auto;
}

#news3 h3 {
    width: 230px;
}

.news-item:hover img,
.news-item:hover h3 {
    filter: blur(2px);
}

.news-item p {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 30px;
    margin: 0px;
    padding: 20px 15px;
    visibility: hidden;
}

#news2 p {
    padding: 20px 23px;
}

#news3 p {
    padding: 20px;
}

.news-item:hover p {
    visibility: visible;
}


/*Other info*/

.others {
    background-color: rgba(245, 129, 18, 0.25);
    padding: 20px 0px;
    margin: 50px 0px;
}

.others h3 {
    text-align: center;
}

.teachers {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    border-radius: 30px;
    width: 220px;
    padding: 10px 20px;
    margin: 20px auto;
}

.getinvolved {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15)1px 7px 5px 0px;
    border-radius: 30px;
    width: 220px;
    padding: 10px 20px;
    margin: 20px auto;
}

.teachers:hover,
.getinvolved:hover {
    transform: scale(1.05);
}


/*Media Queries*/

@media all and (min-width:400px) {
    /*Other info*/
    .others h3 {
        text-align: left;
    }
    .teachers,
    .getinvolved {
        width: 300px;
        padding: 10px 30px;
        margin: 50px auto;
    }
}

@media all and (min-width:600px) {
    /* Exhibition Spaces */
    .spaces {
        padding: 20px 0px 30px;
        margin: 60px 0px;
    }
    .spaces h2 {
        font-size: 2em;
    }
    .spaces a {
        margin: 0px;
    }
    .spaces_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 600px;
        margin: 0px auto;
    }
    .spaces_individual {
        margin: 40px 30px;
    }
    /* News */
    .news-item {
        margin: 50px auto;
    }
}

@media all and (min-width:800px) {
    /*Header*/
    .header_content {
        background-position: inherit;
        height: 488px;
    }
    .header_text {
        margin: 0px auto 0px 100px;
        top: 260px;
    }
    h1 {
        font-size: 2em;
    }
    /* Exhibition Spaces */
    .spaces {
        margin: 80px 0px;
    }
    .spaces_wrap {
        width: 800px;
        margin-bottom: 50px;
    }
    .spaces a {
        width: 200px;
    }
    .spaces img {
        width: 200px;
    }
    /*News*/
    .news {
        padding-bottom: 50px;
        margin: 80px 0px;
    }
    .news h2 {
        font-size: 2em;
    }
    .news-item {
        display: flex;
        width: 650px;
        padding-bottom: 0px;
        margin: 50px auto 70px;
    }
    .news-item img {
        width: 230px;
        border-radius: 30px 0px 0px 30px;
    }
    .news h3 {
        font-size: 1.4em;
        text-align: left;
    }
    #news3 h3 {
        width: auto;
        margin: 0px;
    }
    .news-item:hover img,
    .news-item:hover h3 {
        filter: none;
    }
    .news-item p {
        position: inherit;
        padding: 0px;
        visibility: visible;
    }
    #news2 p,
    #news3 p {
        padding: 0px;
    }
    .news-text {
        padding: 20px 20px 30px;
    }
    /*Other info*/
    .others {
        display: flex;
        justify-content: center;
    }
    .teachers {
        width: 300px;
        padding: 10px 30px;
        margin: 50px 30px 50px 0px;
    }
    .getinvolved {
        width: 300px;
        padding: 10px 30px;
        margin: 50px 0px 50px 30px;
    }
}

@media all and (min-width:1230px) {
    /*Header*/
    .header_content {
        background-position: inherit;
        height: 550px;
    }
    .header_text {
        margin: 0px auto 0px 140px;
    }
}

@media all and (min-width: 1500px) {
    /*Header*/
    .header_content {
        width: 1500px;
        margin: 0px auto;
    }
    /* Exhibition Spaces */
    .spaces {
        width: 1500px;
        margin: 100px auto;
    }
    /*News*/
    .news {
        width: 1500px;
        margin: 100px auto;
    }
    /*Other info*/
    .others {
        width: 1500px;
        margin: 100px auto;
    }
}