    /*Header*/
    
    h1 {
        display: flex;
        justify-content: center;
        background-color: rgba(43, 167, 218, 0.25);
        padding: 50px 0px;
        margin: 0px;
    }
    /* Teachers and researchers */
    
    .content {
        background-color: rgb(63, 166, 82, 0.25);
        padding: 10px 0px;
        margin: 50px 0px;
    }
    
    .content h2 {
        font-family: "menco", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.4em;
        margin: 5px 0px;
    }
    
    .teachers,
    .researchers {
        background-color: #fff;
        border-radius: 30px;
        width: 300px;
        padding-bottom: 20px;
        margin: 50px auto;
    }
    
    .teachers_text,
    .researchers_text {
        padding: 20px;
    }
    
    .teacher_img {
        background-image: url(/images/teacher-2.jpg);
        border-radius: 30px 30px 0px 0px;
        width: auto;
        height: 190px;
    }
    
    .reasearchers_img {
        background-image: url(/images/researcher-2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 30px 30px 0px 0px;
        width: auto;
        height: 190px;
    }
    /* Contact button */
    
    .contact_btn {
        display: flex;
        justify-content: center;
        margin: 50px auto;
    }
    
    .contact_btn a {
        font-family: "menco", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2em;
        border-radius: 20px;
        background-color: #212a31;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.3) 3px 5px 5px;
        padding: 10px 20px;
    }
    
    .contact_btn a:hover {
        background-color: #006e9f;
    }
    /* Media Queries */
    
    @media all and (min-width:600px) {
        /*Header*/
        h1 {
            font-size: 2em;
            padding: 80px 0px;
        }
        /* Teachers and researchers */
        .content {
            margin: 80px 0px;
        }
        .teachers,
        .researchers {
            width: 500px;
            margin: 50px auto;
        }
        /* Contact button */
        .contact_btn a {
            font-size: 1.5em;
            padding: 10px 40px;
        }
        .contact_btn {
            margin: 80px auto;
        }
    }
    
    @media all and (min-width:800px) {
        /*Header*/
        h1 {
            font-size: 3em;
            padding: 100px 0px;
        }
        /* Teachers and researchers */
        .content h2 {
            font-size: 1.4em;
            margin: 10px 0px;
        }
        .teachers,
        .researchers {
            width: 600px;
            padding-bottom: 0px;
            margin: 70px auto;
        }
        .teachers_text,
        .researchers_text {
            width: 490px;
            padding: 20px 0px 30px;
            margin: 0px auto;
        }
        /* Contact button */
        .contact_btn a {
            padding: 10px 40px;
        }
        .contact_btn {
            margin-bottom: 100px;
        }
    }
    
    @media all and (min-width:1500px) {
        /*Header*/
        h1 {
            width: 1500px;
            margin: 0px auto;
        }
        /* Teachers and researchers */
        .content {
            width: 1500px;
            margin: 100px auto;
        }
    }